<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ ( pageTitle is not empty ? pageTitle : 'MonkBlog' ) }}{{ ( siteTitle is not empty ? ' | ' ~ siteTitle : '' ) }} Admin</title>
        <!--[if lte IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link type="text/css" rel="stylesheet" href="{{ elixir( 'assets/css/admin.css' ) }}">
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        {% include 'admin::nav' %}
        <div class="row fullWidth">
            <h1>{{ pageTitle }}</h1>
            {% block content %}{% endblock %}
        </div>
        <script src="{{ elixir( 'assets/js/admin.js' ) }}"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>
