<section>
    <h3>Navigation</h3>

    <ul class="side-nav" role="navigation">
        <li role="menuitem"><a href="{{ url_route( 'home' ) }}">Home</a></li>
        <li role="menuitem"><a href="{{ url_route( 'archive', [ 0, 5 ] ) }}">Archive</a></li>
        {% for page in pageList %}
            <li role="menuitem"><a href="{{ url_route( 'page.public.show', page.slug ) }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
</section>

<section>
    <h3>Contact Info</h3>

    <ul class="side-nav" role="navigation">
        <li role="menuitem">Email: <a href="mailto:{{ contactEmail }}">{{ contactEmail }}</a></li>
        <li role="menuitem">Facebook: <a href="https://www.facebook.com/{{ contactFacebook }}">{{ contactFacebook }}</a></li>
        <li role="menuitem">Twitter: <a href="https://www.twitter.com/{{ contactTwitter }}">@{{ contactTwitter }}</a></li>
    </ul>
</section>
