{% extends 'admin::layout' %}

{% block content %}
    {% include 'admin::sub-nav' with { tabs : optionTabs, label : 'Options' } %}
    {% if slug != 'themes' %}
    <table>
        <thead>
            <tr><th>Name</th><th>Value</th></tr>
        </thead>
        <tbody>
    {% for option in options %}
        {% if option.name != 'monk_version' %}
        <tr>
            <td><a href="{{ url_route( 'admin.options.edit', option.id ) }}">{{ option.display_name }}</a></td>
            <td>{{ option.value }}</td>
        </tr>
        {% endif %}
    {% endfor %}
        </tbody>
    </table>
    {% else %}
    <ul class="small-block-grid-3">
        {% if themes is not empty and themes is iterable %}
            {% for theme in themes %}
            <li>
                <h4>{{ theme.getInfoByKey( 'display_name' ) ? theme.getInfoByKey( 'display_name' ) : theme.name }}</h4>
                {% if theme.name == currentTheme %}
                <div class="button success">Current Theme</div>
                {% else %}
                {{ form_model( option, { route : [ 'admin.options.update' , id ], method : 'put' } ) }}
                    {{ form_hidden( 'name', 'current_theme' ) }}
                    {{ form_hidden( 'value', theme.name ) }}
                    {{ form_hidden( 'autoload', true ) }}
                    {{ form_submit( 'Change To ' ~ theme.name, { 'class' : 'button' } ) }}
                {{ form_close() }}
                {% endif %}
            </li>
            {% endfor %}
        {% else %}
            <li><h4>No Themes Found</h4><p>Please make sure at least one theme to the themes folder.</p></li>
        {% endif %}
    </ul>
    {% endif %}
{% endblock %}