{% extends 'admin.layout' %}

{% block content %}
    <p>Are you sure you want to delete "{{ user.display_name }}?" This cannot be undone.</p>

    <a href="{{ route( 'admin.categories.index' ) }}" class="button">Cancel</a>
    {{ form_model( user, { 'route' : { 0 : 'admin.users.destroy',  1 : user.id }, 'method' : 'delete' } ) }}
    {{ form_submit( 'Delete Forever', { 'class' : 'button alert' } ) }}
    {{ form_close() }}
{% endblock %}
