<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ pageTitle }} | {{ siteTitle }} Admin</title>
        <!--[if lte IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link type="text/css" rel="stylesheet" href="{{ elixir( 'assets/css/admin.css' ) }}">
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1>
                        <a href="{{ route( 'home' ) }}">{{ siteTitle }}</a>
                    </h1>
                </li>
            </ul>
            <section class="top-bar-section">
                <ul class="right">
                    <li><a href="{{ route( 'admin.home' ) }}">Home</a></li>
                    <li><a href="{{ route( 'admin.posts.index' ) }}">Posts</a></li>
                    <li><a href="{{ route( 'admin.pages.index' ) }}">Pages</a></li>
                    <li><a href="{{ route( 'admin.categories.index' ) }}">Categories</a></li>
                    <li><a href="{{ route( 'admin.users.index' ) }}">Users</a></li>
                    <li><a href="{{ route( 'admin.options.index' ) }}">Options</a></li>
                    <li><a href="{{ route( 'logout' ) }}">Logout</a></li>
                </ul>
                <ul class="left">
                    <li>
                        <small>Powered by Monk</small>
                    </li>
                </ul>
            </section>
        </nav>
        <div class="row fullWidth">
            <h1>{{ pageTitle }}</h1>
            {% block content %}{% endblock %}
        </div>
        <script src="{{ elixir( 'assets/js/admin.js' ) }}"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>
