<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ ( pageTitle is not empty ? pageTitle : 'MonkBlog' ) }}{{ ( siteTitle is not empty ? ' | ' ~ siteTitle : '' ) }}</title>
        <!--[if lte IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href='//fonts.googleapis.com/css?family=Cabin:500|Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link type="text/css" rel="stylesheet" href="{{ elixir( 'assets/css/main.css' ) }}">
        {% if logged_in == true %}
        <link type="text/css" rel="stylesheet" href="{{ elixir( 'assets/css/admin.css' ) }}">
        {% endif %}
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        {% if logged_in == true %}
            {% include 'admin::nav' %}
        {% endif %}
        <div class="row">
            <header class="small-12 columns">
                <h1><a href="{{ url_route( 'home' ) }}">{{ siteTitle }}</a> <small>{{ tagline }}</small></h1>
            </header>
        </div>
        <div class="row">
            <div class="small-12 columns">
                {% block top_content %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="small-9 columns">
                {% block content %}{% endblock %}
            </div>
            <div class="small-3 columns">
                {% include 'monk::sidebar' %}
            </div>
        </div>
        <div class="row">
            <footer class="small-12 columns">
                <p>This site is an online journal. It's not really intended to be copyrighted, trademarked, or otherwise legal-ified. I trust that you won't take my writing and use it as your own. If you do, though, I'm not going to do anything about it.</p>
            </footer>
        </div>
        <script src="{{ elixir( 'assets/js/app.js' ) }}"></script>
    </body>
</html>
