{% extends 'admin.layout' %}

{% block content %}
    <table>
        <thead>
            <tr><th>Email</th><th>Name</th><th>Display Name</th><th></th></tr>
        </thead>
        <tbody>
    {% for user in users %}
        <tr>
            <td>
            <h5><a href="{{ url_route( 'admin.users.edit', user.id ) }}" title="Edit {{ user.display_name }}">{{ user.email }}</a></h5>
            <a href="{{ url_route( 'admin.users.updatePassword', user.id ) }}" title="Change Password">Change Password</a>
            </td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.display_name }}</td>
            <td>
                <a href="{{ url_route( 'admin.users.edit', user.id ) }}" title="Edit {{ user.display_name }}" class="button">Edit</a>
                <a href="{{ url_route( 'admin.users.confirmdestroy', user.id ) }}" title="Delete {{ user.display_name }}" class="button alert">Delete</a>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_route( 'admin.users.create' ) }}" class="button">Create New User</a>
{% endblock %}
