{% extends 'admin.layout' %}

{% block content %}
    <div class="row">
        <div class="small-6 columns">
        {{ form_model( page, { 'route' : 'admin.pages.store' } ) }}
        {{ form_label( 'title', 'Title' ) }}
        {{ form_text( 'title' ) }}
        {{ form_label( 'slug', 'Slug' ) }}
        {{ form_text( 'slug' ) }}
        {{ form_label( 'body', 'Body' ) }}
        {{ form_textarea( 'body' ) }}
        {{ form_submit( 'Save', { 'class' : 'button' } ) }}
        {{ form_close() }}
    </div>
    <div class="small-6 columns">
        <div id="preview"></div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ asset( 'js/showdown.min.js' ) }}"></script>
<script src="{{ asset( 'js/admin.js' ) }}"></script>
{% endblock %}
