{% extends 'admin::layout' %}

{% block content %}
    <table>
        <thead>
            <tr><th>Title</th><th>Slug</th><th>Description</th><th></th></tr>
        </thead>
        <tbody>
    {% for category in categories %}
        <tr>
            <td><a href="{{ url_route( 'admin.categories.edit', category.id ) }}">{{ category.title }}</a></td>
            <td>{{ category.slug }}</td>
            <td>{{ category.description }}</td>
            <td><a href="{{ url_route( 'admin.categories.confirmdestroy', category.id ) }}" class="button alert">Delete</a></td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_route( 'admin.categories.create' ) }}" class="button">Create New Category</a>
{% endblock %}