{% extends 'layout' %}

{% block content %}
    <h1>Post Archive</h1>

    <ul class="posts">
        {% for post in posts %}
        <li class="post">
            <h2><a href="{{ url_route( 'post.public.show', post.slug ) }}">{{ post.title }}</a></h2>
            <span class="meta">{{ post.published_at | date( dateFormat ) }}</span>
            <div class="summary">{{ post.summary }}</div>
            <a href="{{ url_route( 'post.public.show', post.slug ) }}">Read More</a>
        </li>
        {% endfor %}
    </ul>
    {% if less %}
        <a href="{{ url_route( 'archive', [ prevOffset, limit ] ) }}" class="post-nav previous left">Newer Posts</a>
    {% endif %}
    {% if more  %}
        <a href="{{ url_route( 'archive', [ nextOffset, limit ] ) }}" class="post-nav next right">Older Posts</a>
    {% endif %}
{% endblock %}
