{% extends 'admin.layout' %}

{% block content %}
    <table>
        <thead>
            <tr><th>Title</th><th>Created</th><th>Published</th><th></th></tr>
        </thead>
        <tbody>
    {% for post in posts %}
        <tr>
            <td><a href="{{ route( 'admin.posts.edit', post.id ) }}">{{ post.title }}</a></td>
            <td>{{ post.created_at|date("M j, Y") }}</td>
            <td>
                {% if not post.is_published %}
                    <a href="{{ route( 'admin.posts.publish', post.id ) }}" class="button tiny">Publish</a>
                {% else %}
                    <span>{{ post.published_at|date("M j, Y") }}</span>
                {% endif %}
            </td>
            <td>
                <a href="{{ route( 'post.public.show', post.slug ) }}" class="button tiny">View</a>
                <a href="{{ route( 'admin.posts.confirmdestroy', post.id ) }}" class="button tiny alert">Delete</a>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    <a href="{{ route( 'admin.posts.create' ) }}" class="button">Write New Post</a>
{% endblock %}
